.layout {
  background-color: var(--bg-color-day);
  transition: background-color 500ms ease;

  &.theme_night {
    background-color: var(--bg-color-night);
    color: var(--text-color-night);

    & a {
      color: var(--text-color-night);

      &:visited {
        color: var(--text-color-night);
      }

      &:hover {
        color: var(--text-color-night);
        background-color: var(--bg-hover-color-night);
      }
    }
  }
}
