.navigation {
  padding-top: 100px;
  padding-left: 110px;
  width: var(--sidebar-width);
  min-width: var(--sidebar-width);

  &.theme_night {
    border-right: 1px solid #666;
  }
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  font-family: var(--rubik-mono-font);

  & a {
    display: block;
    padding: 0 20px;
    text-decoration: none;
  }

  &:hover {
    background-color: var(--bg-hover-color-day);
  }
}
