:root {
  --body-color: rgba(0, 0, 0, 0.87); /* TODO вынести в глобальные переменные*/
}

.navigation {
  padding-top: 20px;
  width: 200px;
  border-right: 1px solid #666;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  position: relative;

  & a {
    display: block;
    padding: 3px 20px;
    text-decoration: none;

    &:visited {
      color: #fff;
    }

  }

  &:hover {
    background-color: #111;
  }

  &:last-child::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 20px;
    width: 70px;
    height: 1px;
    background-color: #fff;
  }
}
