:root {
  --body-color: rgba(0, 0, 0, 0.87); /* TODO вынести в глобальные переменные*/
}

@font-face {
  font-family: 'Century Gothic';
  font-weight: regular;
  src: url('./fonts/Century_Gothiс_regular.ttf');
}

@font-face {
  font-family: 'Century Gothic';
  font-weight: bold;
  src: url('./fonts/Century_Gothic_bold.ttf');
}

@font-face {
  font-family: 'Helvetica Light';
  src: url('./fonts/Helvetica_Light.ttf');
}

html {
  min-height: 100vh;
  height: 100vh;
}

body {
  height: 100vh;
  margin: 0;
  font-family: 'Century Gothic', 'Helvetica Light', Arial, sans-serif;
  background-color: var(--body-color);
  color: #fff;
}

:global(#app) {
  min-height: 100vh;
}

a {
  color: #fff;

  &:visited {
    color: #999;
  }
}

.layout {
  display: flex;
  min-height: 100vh;
}
