:global(:root) {
  --body-color: rgba(0, 0, 0, 0.87);
  --rubik-mono-font: 'Rubik Mono One', Arial, Helvetica, sans-serif;

  --text-color-day: #000;
  --bg-hover-color-day: #ddd;
  --bg-color-day: #fff;

  --text-color-night: #fff;
  --bg-hover-color-night: #333;
  --bg-color-night: #000;
}

@font-face {
  font-family: 'Helvetica Light';
  src: url('./fonts/Helvetica_Light.ttf');
}

@font-face {
  font-family: 'Rubik Mono One';
  src: url('./fonts/RubikMonoOne_regular.ttf');
}

html {
  min-height: 100vh;
  height: 100vh;
}

body {
  height: 100vh;
  margin: 0;
  font-family: 'Helvetica Light', Arial, sans-serif;
}

:global(#app) {
  min-height: 100vh;
}

.layoutContent {
  display: flex;
  min-height: 100vh;
}

a {
  color: var(--text-color-day);
  transition: color 500ms ease;
}

