.wrapper {
  height: calc(100vh - 200px);
  border: 1px solid #000;
  overflow: hidden;
}

.slider {
  transform: translate3d(-33.333%, 0, 0); /* TODO js */
  width: 300%; /* TODO js */
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: transform 1s ease;
}

.slide {
  width: 33.3333%; /* TODO js */
  height: 100%;
  display: inline-block;
  margin: 0;
  /* padding: 100px; */
  padding: 1%;
  text-align: center;
}

.slideContent {
  height: 100%;
}
